<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3 style="color:#f60;" class="text-center">新增订单</h3>
            <form action="/insert" method="post">
                商品编号:<input type="text"  name="brandCode"><br>
                商&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;标:<input type="text"  name="brand"><br>
                数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量:<input type="text"  name="number"><br>
                单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价:<input type="number" name="price">元<br>
                实付金额:<input type="text"  name="alreadyPay">元<br>
                负责人:<input type="text"  name="person"><br>
                负责人email:<input type="text"  name="email"><br>
                客户留言：<textarea name="clientDescription" id="" cols="30" rows="10" ></textarea>
                <input type="submit" value="确认添加">
            </form>
        </div>
    </div>
</div>